<!DOCTYPE html>
{% load cache %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template caching using database.</title>
</head>
<body>
    <h1>course 1</h1>
    <h1>course 2</h1>
    {% cache 30 'course'  %}
    {% comment %} only yahi caching hogi isi block par {% endcomment %}
        <h1>course 3</h1>
        {% comment %} <h1>course 4</h1> {% endcomment %}
    {% endcache %}
</body>
</html>