<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .errorlist
        {
            color: red;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center">About erros</h1>
    <form action="" method="post" novalidate>
       {% csrf_token %}
        {% for field in form %}
            <div style="margin-buttom:10px;">
            {{ field.label_tag }} {{ field }} <span class="errorlist"> {{field.errors|striptags}}</span>
            </div>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>