<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get field value using for loop </title>
</head>
<body>
    <h1>Get all the data using for loop</h1>
    <form action="" novalidate>
        {% for field in form %}
        {{ field.label_tag }} {{field}} <br> <br>
        {% endfor %}
         <span style="color:red">{{form.password1.help_text}}</span>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>