<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %} 
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    {% endblock %}
    <title>base</title>
</head>
<body>
   
    {% comment %} include navigation bar  {% endcomment %}

    {% include 'core/nav.html' with p='navigation bar included' %}


    {% block content %}
    {% endblock %}
    
</body>
</html>