{% extends 'blog/base.html' %}
{% block content %}
        <div class="row">
            <div class="col-md-12">
                {% block msg %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message.tags }}</strong> {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}

               <form action="" method="post" novalidate>
                    {% csrf_token %}
                        {% for field in form %}
                        {{ field.label_tag }} {{ field }} {{field.errors|striptags}}
                        {% endfor %}
                       <input type="submit" value="Login" class="btn btn-primary mt-3">
               </form>


               {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="error">{{error}}</p> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>
{% endblock %}