<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UsercreationForm</title>
</head>
<body>
    <h1 style="text-align:center;">User creation form</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}  {{ field.errors|striptags }} <br> <br>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    {% if messages %}
            {% for message in messages %}
                {% if message.tags %}  {{message.tags}} {% endif %} 
                                {{ message }}
            {% endfor %}
    {% endif %}
</body>
</html>